
<body>
  
<table class = "stocks" >
  <thead>
  <tr>
    <th>Symbol</th>
    <th>Open</th>
    <th>Highest</th>
    <th>Current price</th>
    <th>Volume</th>
    <th>Previous Close</th>
    <th>Change</th>
    <th>Change Percentage</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let stock of stocks">
    <td>{{stock.symbol}}</td>
    <td>{{stock.open}}</td>
    <td>{{stock.high}}</td>
    <td>{{stock.price}}</td>
    <td>{{stock.volume}}</td>
    <td>{{stock.previousClose}}</td>
    <td>{{stock.change}}</td>
    <td>{{stock.changePercent}}</td>
  </tr>
</tbody>
</table>

<div>
<h6>If you want to search other stocks, just write the symbol into the box <a href="https://www.advfn.com/nasdaq/nasdaq.asp" target="_blank">(symbols)</a>!</h6>
<h6>In the table from the sixth row the data will not refresh automatically.</h6>


Symbol: <input type="text" class="symbol" name="symbol" [(ngModel)] = "symbol">

<button (click)=handleSearch() class="btn">Search</button>
</div>

</body>

