
<div class="body">
  

<div class="box">

  <h1>Sign In</h1>

  <div class="alert alert-warning" *ngIf='invalidLogin'>{{output | json}}</div>

  <div>
    Email: <input type="text" class="email" name="email" [(ngModel)] = "user.email">
    Password: <input type="password" class="password" name="password" [(ngModel)] = "user.password">

    <button  (click)=handleLogin2() class="btn">Sign In</button>
    <button mat-menu-item routerLink="/register" class="btn">Sign Up</button>


   <h2>{{output | json}}</h2>  
  
  </div>
</div>
</div>